body {
  background-color: #E7E3E8;
  position: relative;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    font-weight: 100px;
}

.navbar-fixed-top img {
    height:35px;
    padding-top:0px;
}

.nav a {
  color: #5a5a5a;
  font-weight: 100;
  padding: 4px 6px; /*top and bottom*/
    height: 40px;
    font-size: 16px;
  
}

.jumbotron {
  background-image:url('images/cover.jpg');
  opacity: 0.85;
  filter: alpha (opacity=80);
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:260px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 62px;  
  font-family: 'Segoe UI', sans-serif;
  font-weight: 100;
}
.jumbotron h2 {
  color: #fff;
  font-size: 40px;  
  font-family: 'Segoe UI', sans-serif;
  font-weight: 200;
}

.jumbotron p {
  font-family: 'Segoe UI', sans-serif;
    font-size: 20px;
  color: #fff;
    font-weight: 20px;
}
.jumbotron p a {
  font-size: 20px;
 text-decoration: underline;
  color: #fff;
    
}

.facts {
  background-color: #f7f7f7;
}

.content h3 {
  font-family: 'Avant Garde', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.content a {
  color: #00b0ff;
}

.nav {
    height:40px;
}
.navbar-fixed-top {
    height:40px;
}
.navbar-right {
padding-right:0px;
}
.navbar-default {
  background-color: #907FBA;
  border-color: #caadfd;
    height: 40px;
    padding-right: 10px;
}
.navbar-default .navbar-brand {
    background-image:url('');
    padding-left: 10px;
    height: 40px;
    width: 100px;
    background-repeat: no-repeat;
    background-size:contain;
    position:fixed;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffc9ef;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
   
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
    padding-left: 0px;
    
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffc9ef;

}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffc9ef;
  /* background-color: #caadfd; */
background-color: #907FBA;
}

.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ffc9ef;
}

.footer {
    position: relative;
    color: #A86AB3;
    font-size: 9;
}

.featurette-break {
    color: white;
    background-color: white;
    height: 1.5px;
    
}

 .featurette-image {
  margin-top: −120px; /* Vertically center image with the text */
  max-height: 400px;
     padding:20px;
     
}

 .featurette-heading {
  font-size: 30px;
  font-weight: 100;
     font-family:'Segoe UI', sans-serif;
  line-height: 1;
  letter-spacing: 1px;
}
 .featurette-image.pull-left {
     margin-left: 40px;
}
 .featurette-image.pull-right {
  margin-left: 40px;
}
.featurette .lead{
    font-family: 'Segoe UI', sans-serif;
    font-size:20px;
}